.whitebox {
    margin: 25px;
    padding: 20px;
    background-color: white;
}

body {
    padding: 10;
    margin: 10;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(33, 84, 143);
    background: #f3f7f5ce;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

.small-font {
    font-size: smaller;
}
